@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jost:wght@100;200;300;400;500;600;700;800;900&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;


body { 
  -webkit-font-smoothing: antialiased;
  font-smooth: always;
}


#__next {
  min-height: 100vh;
  height:100vh;
}



@layer components {
  .poppins {
      font-family: 'Poppins', sans-serif;
  }
  .montserrat {
      font-family: 'Montserrat', sans-serif;
  }
  .Comfortaa {
      font-family: 'Comfortaa', cursive;
  }
  .oxygen{
      font-family: 'Oxygen', sans-serif;
  }

  .lexend {
      font-family: 'Lexend', sans-serif
  }
  .inter{
      font-family: 'Inter', sans-serif
  }
  .jost{
    font-family: 'Jost', sans-serif;
  }
  
  .title{
      color:"#0E101A";
  }
  .undertitle{
      color:"#777d9e";
  }

  .unselectable {
      -moz-user-select: none;
      -khtml-user-select: none;
      -webkit-user-select: none;
      -ms-user-select: none;
      user-select: none;
  }
}


.scrollbar::-webkit-scrollbar {
  width: 4px;
}

/* Track */
.scrollbar::-webkit-scrollbar-track {
  background: #f6f6f6;
}

/* Handle */
.scrollbar::-webkit-scrollbar-thumb {
  background: rgb(158, 158, 158);
}

/* Handle on hover */
.scrollbar::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.unselectable {
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.montserrat{
  font-family: 'Montserrat', sans-serif !important;
}


@layer utilities {
  .bg-black-50 {
    background-color: rgb(0, 0, 0);
  }
  .bg-black-100 {
    background-color: rgb(0,0,0);
  }
  .bg-black-200 {
    background-color: rgb(0,0,0);
  }
  .bg-black-300 {
    background-color: rgb(0,0,0);
  }
  .bg-black-400 {
    background-color: rgb(0,0,0);
  }
  .bg-black-500 {
    background-color: rgb(0,0,0);
  }
  .bg-black-600 {
    background-color: rgb(0,0,0);
  }
  .bg-black-700 {
    background-color: rgb(0,0,0);
  }
  .bg-black-800 {
    background-color: rgb(0,0,0);
  }
  .bg-black-900 {
    background-color: rgb(0,0,0);
  }

  .ring-black-50 {
    background-color: rgb(0, 0, 0);
  }
  .ring-black-100 {
    background-color: rgb(0,0,0);
  }
  .ring-black-200 {
    background-color: rgb(0,0,0);
  }
  .ring-black-300 {
    background-color: rgb(0,0,0);
  }
  .ring-black-400 {
    background-color: rgb(0,0,0);
  }
  .ring-black-500 {
    --tw-ring-color: rgb(0,0,0);
  }
  .ring-black-600 {
    background-color: rgb(0,0,0);
  }
  .ring-black-700 {
    background-color: rgb(0,0,0);
  }
  .ring-black-800 {
    background-color: rgb(0,0,0);
  }
  .ring-black-900 {
    background-color: rgb(0,0,0);
  }
}




.cpResizeScale{
  animation: cpResizeScale 0.85s;
  animation-timing-function: cubic-bezier(0.59, 0, 0.39, 0.98);
  animation-play-state: running;
  animation-fill-mode: forwards;

}

.cpResizeScale img:first-child{
  animation: cpResizeScaleImg 0.85s;
  animation-timing-function: cubic-bezier(0.59, 0, 0.39, 0.98);
  animation-play-state:running;
  animation-fill-mode: forwards;
}





@keyframes cpResizeScale {
  0%{
      clip-path: polygon(100% 0, 100% 0, 100% 0, 100% 0);

  }
  100%{
      clip-path: polygon(100% 0, 0 0, 0 100%, 100% 100%);
  }
}
@keyframes cpResizeScaleImg {
  0%{
      width:90%;
  }
  100%{
      width:100%;
  }
}






.patern1 {
  --s: 100px; /* control the size */
  --c1: #F8B195;
  --c2: #355C7D;
  
  --_g: 
     var(--c2) 6%  14%,var(--c1) 16% 24%,var(--c2) 26% 34%,var(--c1) 36% 44%,
     var(--c2) 46% 54%,var(--c1) 56% 64%,var(--c2) 66% 74%,var(--c1) 76% 84%,var(--c2) 86% 94%;
  background:
    radial-gradient(100% 100% at 100% 0,var(--c1) 4%,var(--_g),#0008 96%,#0000),
    radial-gradient(100% 100% at 0 100%,#0000, #0008 4%,var(--_g),var(--c1) 96%)
    var(--c1);
  background-size: var(--s) var(--s);
}
.patern2 {
  --s: 50px; /* control the size */
  
  --c: #CFF09E;
  --_g: radial-gradient(#0B486B 49%,#0000 50%);
  background:
   var(--_g) calc(var(--s)/-2) calc(var(--s)/2),
   repeating-conic-gradient(from 45deg,var(--c) 0 25%,#0000 0 50%)
     calc(var(--s)/2) calc(var(--s)/2),
   var(--_g),var(--_g) var(--s) var(--s) var(--c);
  background-size: calc(2*var(--s)) calc(2*var(--s));
}


.patern3 {
  --s: 220px; /* control the size */
  --c1: #774F38;
  --c2: #F1D4AF;
  
  --_g:radial-gradient(#0000 60%,var(--c1) 61% 63%,#0000 64% 77%,var(--c1) 78% 80%,#0000 81%);
  --_c:,#0000 75%,var(--c2) 0;
  background:
    conic-gradient(at 12% 20% var(--_c)) calc(var(--s)* .44) calc(.9*var(--s)),
    conic-gradient(at 12% 20% var(--_c)) calc(var(--s)*-.06) calc(.4*var(--s)),
    conic-gradient(at 20% 12% var(--_c)) calc(.9*var(--s)) calc(var(--s)* .44),
    conic-gradient(at 20% 12% var(--_c)) calc(.4*var(--s)) calc(var(--s)*-.06),
    var(--_g),var(--_g) calc(var(--s)/2) calc(var(--s)/2) var(--c2);
  background-size: var(--s) var(--s);
}

